*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:#add8e6;
    
}
div.contenitore{
    width: 60vw;
    margin: auto;
}

header>h1{
    text-align: center;
    padding: 1rem 0 2rem 0;
    color: white;
    font-size:4rem;
}


.clearfix::after{
    content:" ";
    clear:both;
    display: table;
}
section{
    width: 100%;
    margin:auto;
}

section.second.row{
    margin:2rem 0;
}

div.box{
    float:left;
    height: 35vh;
    width: calc(25% - 0.75rem);
    margin-right: 1rem;
    border-radius: 10%;
    background-image: url("./img/pattern.png");
    background-size: contain;
    background-position: top;
    }

section.row .box:last-child{
    margin-right: 0;

 
} 

#immagine-fissa{
    background-color: white;
    background-image: url("./img/noun_air_balloon_3134741.png");
    background-size:80%;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
}

#par_fixed{
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bolder;
    font-size: 17px;
    color:#e61986; 
    text-shadow: 1px 1px;    
}
#immagine-dinamica{
    transition: 0.3s;
}

div>p{
    display: none;
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bolder;
    font-size: 17px;
    text-shadow: 1px 1px;
}
div:hover>p{
    display: block; 
    }

div:hover>p.par_odd{
    color:#e67919;
} 
div:hover>p.par_even{
    color:#e61986; 
} 


.box:hover{
    background-color: white;
    background-size:80%;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    transform: rotateZ(360deg);
    transform: scale(1.2);
}
.box.A:hover{
    background-image: url("./img/noun_Bicycle_3134821.png");
}
.box.B:hover{
    background-image: url("./img/noun_Cruise_Ship_3134824.png");
}
.box.C:hover{
    background-image: url("./img/noun_Submarine_3134738.png");
}
.box.D:hover{
    background-image: url("./img/noun_Tram_3134750.png");
}
.box.E:hover{
    background-image: url("./img/noun_Tractor_3134797.png");
}
.box.F:hover{
    background-image: url("./img/noun_air_balloon_3134741.png");
}



footer{
    text-align: center;
    padding: 2rem 0 0.5rem 0;
    font-weight: bolder;
    text-shadow: 1px 1px black;

}
   